@import "desafios/day1/day1.css";
@import "desafios/day2/day2.css";
@import "desafios/day3/day3.css";
@import "desafios/day4/day4.css";
@import "desafios/day5/day5.css";
@import "desafios/day6/day6.css";
@import "desafios/day7/day7.css";
@import "desafios/day8/day8.css";
@import "desafios/day9/day9.css";
@import "desafios/day10/day10.css";
@import "desafios/day11/day11.css";
@import "desafios/day12/day12.css";
@import "desafios/day13/day13.css";
@import "desafios/day14/day14.css";
@import "desafios/day15/day15.css";
@import "desafios/day16/day16.css";
@import "desafios/day17/day17.css";
@import "desafios/day18/day18.css";
@import "desafios/day19/day19.css";
@import "desafios/day20/day20.css";
@import "desafios/day21/day21.css";
@import "desafios/day22/day22.css";
@import "desafios/day23/day23.css";
@import "desafios/day24/day24.css";
@import "desafios/day25/day25.css";
@import "desafios/day26/day26.css";
@import "desafios/day27/day27.css";
@import "desafios/day28/day28.css";

:root {
  --color-main: #161623;
  --color-red: #B8405E;
  --color-green: #2EB086;
  --color-white: #EEE6CE;
  --color-blue: #3D5B59;
}

* { 
  margin: 0;
  padding: 0;

  font-family: Ubuntu; 
  color: var(--color-white); 

  box-sizing: border-box;

  user-select: none;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 40px;
  min-height: 100vh;
  background: var(--color-main);
}

header {
  color: #FFBC80;
  font-family: 'Raleway', sans-serif;
  text-align: center;

  margin-bottom: 40px;
}

header h1 {
  margin-bottom: 7px;
}

main, header, section { width: 100%; max-width: 940px; }

main hr {
  opacity: 0.2;
  margin: 20px 0;
}

section {
  min-height: 200px;
}