@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.day24_container {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.keyboard {
  border: 1px solid #565656;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 5px;
  background-color: #000;
}

.keycap {
  width: 50px;
  height: 50px;
  color: #DADBBD;
  background-color: #D82148;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.line {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.backspace, .tab{
  width: 100px;
}
.caps {
  width: 120px;
}
.enter {
  width: 150px;
}
.shift {
  width: 105px;
}

.tab, .shift, .caps, .backspace, .ctrl, .alt, .fn, .linux, .menu, .enter {
  background: #151D3B;
}

.bottom-line .keycap {
  width: 65.5px;
  height: 50px;
}

.bottom-line .space {
  width: 350px;
}

.keycap {
  box-shadow: 1px 1px 0 #291c1c,
  1px 2px 0 #291c1c,
  1px 3px 0 #291c1c,
  2px 4px 0 #291c1c,
  2px 5px 0 #291c1c,
  2px 6px 0 #291c1c;
  transition: 0.1s;
}

.keydown {
  margin-top: 3px;
  box-shadow: 2px 1px 0 #291c1c;
  transform: translatex(2px);
}

.linux, .menu{
  font-size: 22px;
}

ion-icon {
  color: #DADBBD;
}
