.day5_container {
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.day5_pulse {
  width: 100px;
  height: 100px;

  border-radius: 50%;
  border: 2px solid var(--color-white);

  background-color: var(--color-main);

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  animation: 1s pulsing1 infinite linear;

  z-index: 2;
}

@keyframes pulsing1 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(176, 182, 180, 0.7);
  }

  25% {
    transform: scale(1);
  }
  
  75% {
    box-shadow: 0 0 0 50px rgba(176, 182, 180, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(176, 182, 180, 0);
  }
}

@media (max-width: 800px) {
  .day4_buttons {
    flex-direction: column;
    gap: 40px;
  }
  .day4_button{
    padding: 10px;
  }
}