.day14_container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 200px;
  padding-top: 50px;
}

.cloud_container {
  position: relative;
}

.cloud {
  width: 185px;
  height: 45px;
  background-color: var(--color-white);
  
  border-radius: 50px;
  
  margin-right: 40px;
}

.cloud::before {
  width: 50px;
  height: 50px;
  background-color: var(--color-white);
  
  border-radius: 50px 80%;
  
  position: absolute;
  content: '';
  
  top: -30px;
  left: 35px;
}

.cloud::after {
  width: 70px;
  height: 70px;
  background-color: var(--color-white);
  
  border-radius: 50px 80%;
  
  position: absolute;
  content: '';
  
  top: -45px;
  left: 80px;
}

.cloud_contianer2 {
  transform: translateY(-20px);
}

.cloud2{
  width: 120px;
  height: 30px;
  
  transform: translateY(40px);
  
}

.cloud2::after {
  width: 35px;
  height: 35px;
  background-color: var(--color-white);
  
  border-radius: 50px;
  
  position: absolute;
  content: '';
  
  top: -20px;
  left: 60px;
}

.cloud2::before {
  width: 50px;
  height: 60px;
  background-color: var(--color-white);
  
  border-radius: 50px 80%;
  
  position: absolute;
  content: '';
  
  top: -40px;
  left: 20px;
}

